version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  versioning-strategy: increase
- package-ecosystem: npm
  directory: "/node/functions"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  versioning-strategy: increase
